.searchBar{
    padding: 15px;
}
.input-group {
    position: relative;
    width: 100%;
}
.input-group input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B0BABF;
    color: white;
    background-color: rgb(63, 56, 56);
}
.input-group input:focus {
    outline: none;
}
.input-group .fa-search {
    color: rgb(187, 176, 176);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}